html, body {
  overflow-x: hidden;
}

nav {
    background-color: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;/* Ajusta conforme necessário */
    z-index: 1000;
    border-bottom: 2px solid #222;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  nav ul li {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  nav ul li:hover, nav ul li.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  nav img {
    height: 60px; /* Increase size */
    width: auto;
    position: relative;
    top: 20px; /* Move it upwards */
    z-index: 10; /* Ensure it's above the navbar */
}

  
  nav ul li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none; /* Remove o sublinhado */
  }
  
  .nav-link:hover {
    opacity: 0.8;
  }
  
  /* Estilo para o dropdown */
.dropdown {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
}