/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* Layout principal dividido em duas áreas */
.content-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

/* Área esquerda (Pesquisa e ScouterCard) */
.left-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent !important;
}

/* Área direita (Histórico de Avaliações e Próximas Partidas) */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* SearchScouter Styles */
.search-scouter {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 5px;
}

.search-scouter input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
}

.search-scouter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.search-scouter button:hover {
    background-color: #3e8e41;
}

.select-all {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ccc;
}

/* ScouterList Styles */
.scouter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.scouter-card {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 180px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.scouter-card:hover {
    transform: scale(1.05);
}

.scouter-avatar {
    width: 50px;
    height: 50px;
    background-color: #444;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.scouter-info .name {
    font-size: 14px;
    font-weight: bold;
}

.scouter-info .role {
    font-size: 12px;
    color: #6ab04c !important;
}

/* Sidebar Styles */
.right-container .historico-avaliacoes,
.right-container .proximas-partidas {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

/* Botão "Atribuir Evento" */
.assign-event-button {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.assign-event-button:hover {
    background-color: #555;
}

.add-player-button {
    width: 60%;
    padding: 12px;  
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

.add-player-button:hover {
    background-color: #555;
}