/* Remove a scrollbar padrão */
html, body {
  height: 100%;
  overflow-y: auto !important; /* Força o scroll */
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #313131 #111; /* Cor do scroll no Firefox */
}

/* Estiliza a scrollbar para Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra */
}

::-webkit-scrollbar-track {
  background: #111; /* Cor de fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: #222; /* Cor do scroll */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* Cor do scroll ao passar o mouse */
}
