@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Ajustar o CSS global */
body {
  font-family: 'Abel', sans-serif !important;
}

/* Ajustar o CSS global */
.App {
  text-align: center;
}

.page-container {
  background-color: transparent; /* Fundo para diferenciar páginas */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.App-header {
  /* Apenas afeta o cabeçalho, se existir */
  background-color: #342828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
